a {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 1px;
    border: black solid;
    display: block;
}

p {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 20vw;
    padding-right: 20vw;
}

#pageHeader {
    font-size: 1.3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(34, 29, 29);
    text-align: center;
    background-color: silver;
    padding: 5vh 30vw; /* first number does top and bottom, second number does left and right */
    border-bottom: slategray;
    border-bottom-style: solid;
    position: fixed;
}

#On_A_Rock {
    max-width: 30%;
    height: auto;
    position: relative;
    margin-left: 35vw;
    margin-top: 1vw;
    border-color: black;
    border-style: solid; 
}

ol {
    font-size: 1em;
    padding-left: 35vw;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
    font-size: 1em;
    padding-left: 2vw;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float: left;
    position: relative;
}

#floatingBanner {
    background-color: silver;
    padding: 5vh 30vw; /* first number does top and bottom, second number does left and right */
    border-bottom: slategray;
    border-bottom-style: solid;
    position: fixed;
}

#floatingMenu {
    font-size: 1.3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(34, 29, 29);
    text-align: center;
}

#textBody {
    padding-top: 10vh;
}