p {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#PageHeader {
    font-size: 1.3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: red;
    text-align: center;
    background-color: burlywood;
    padding-left: 40vw;
    padding-right: 40vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

#On_A_Rock {
    max-width: 30%;
    height: auto;
    position: relative;
    padding-left: 35vw;
}

ol {
    font-size: 1em;
    padding-left: 35vw;
    text-align: left;
}