//sass styles.scss styles.css

@import 'trending';

$defaultFontFamily: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$defaultFontColor: #221d1d;
$defaultBackgroundColor: silver;

// * {
//     box-sizing: border-box;
// }

body {
    margin: 0px;
}

p {
    text-align: center;
    font-family: $defaultFontFamily;
}

.header {
    z-index: 1;
    background-color: rgb(255, 249, 241);
    text-align: center;
    font-size: 2.8vh;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    padding: 20px;
}
.topMenu {
    z-index: 1;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    width: 100%;
    background-color: #464544;
    overflow: hidden;
    border-top: solid;
    border-top-color: #191716;
    border-bottom: solid;
    border-bottom-color: #191716;
    box-shadow: 0px 2px 6px #00000069;

    .menuButton {
        float: left;
        transition: 0.3s;
        cursor: pointer;
        text-align: center;
        color: whitesmoke;
        background-color: #464544;
        text-decoration: none;
        font-size: 2.4vh;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        padding: 0.9vh 1vw;
        border: none;
    } 

    .menuButton:active {
        background-color: orange;
        border-style: none;
    }

    .menuButton:hover {
        background-color: orange;
    }
}

.socialMediaTag {
    z-index: 1;
    position: fixed;
    top: 44%;
    display: flex;
    flex-wrap: wrap;
    height: 176px;
    width: 40px;
    box-shadow: 1px 2px 5px slategrey;

    a {
        text-align: center;
        padding: 10px;
        transition: all 0.3s ease;
        color: white;

        img {
            height: 20px;
            width: 20px;
        }
    }

    a:hover {
        background-color: #000;
    }

    .facebook {
        background-color: #3B5998;
        color: white;
    }

    .twitter {
        background-color: #55acee;
        color: white;
    }

    .linkedIn {
        background-color: #007bb5;
        color: white;
    }

    .youTube {
        background-color: #bb0000;
        color: white;
    }
}

.mainBody {
    top: 2vh;
    position: relative;
    // padding: 0px 0px 53px 0px;
    z-index: 0;
    

    :after {
        content: "";
        display: table;
        clear: both;
    }


    .leftColumn {
        width: 57%;
        position: relative;
        left: 3vw;
        float: left;
        border-style: solid;
        border-color: #f1f1f1;
        margin-bottom: 10vh;
    }

    .rightColumn {
        width: 32%;
        left: 6vw;
        float: left;
        position: relative;
        border-style: solid;
        border-color: #f1f1f1;
        margin-bottom: 10vh;

        ol {
            font-size: 1em;
            padding: 0px;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
            list-style-position: inside;
        }
    }
    
    .textBody {
    padding: 2vh 2vw 2vh 2vw;
    background-color: #ffffffbf;
    box-shadow: 5px 6px 7px 2px #0a0a0a5e;

        p {
            top: 5vh;
        }

        div.heroImage {
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url(../images/On_A_Rock.jpg);
            box-shadow: 2px 2px 2px #0a0a0a5e;
            border-radius: 20px;
            height: 38vh;
            background-position: top;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            overflow: hidden;

            .heroText {
                font-family: monospace;
                text-align: center;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: white;

                .button {
                    text-decoration: none;
                    color: initial;
                    border: none;
                    outline: 0;
                    display: inline-block;
                    padding: 1vh 1vw;
                    color: black;
                    background-color: rgb(221, 220, 219);
                    text-align: center;
                    cursor: pointer;

                    :hover {
                        background-color: rgb(206, 206, 206);
                        color: white;
                    }
                }
            }
        }
    }
}

.pageFooter {
    background-color: #dc8213;
    padding: 0;
    margin: 0;
    border-bottom: #464544;
    border-bottom-style: solid;
    border-top: solid;
    border-top-color: darkslategray;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        text-decoration: none;
        margin: 6px 7px;
        display: inline-block;
        position: relative;
    }
}