#trendingGIFs {
    position: relative;
    top: 2vh;
    padding-bottom: 5vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    img {
        border: 1px;
        border-style: solid;
        height: 200px;
        width: 200px;
    }
}

#trendingText {
    font-size: 3vh;
    font-weight: 700;
    text-decoration: underline;
}